/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: grey;
  }

  /* UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 400px;
    max-width: 100%;
  }

  .d-none{
    display: none;
  }

  .d-block{
    display: block;
  }

  .d-flex{
    display: flex;
  }

  .d-inline{
    display: inline;
  }

  @media screen and (min-width: 768px){
    .d-md-none{
        display: none;
    }
    
    .d-md-block{
        display: block;
    }
    
    .d-md-flex{
        display: flex;
    }
    
    .d-md-inline{
        display: inline;
    }
  }

  @media screen and (min-width: 992px) {
    .d-lg-none{
        display: none;
    }
    
    .d-lg-block{
        display: block;
    }
    
    .d-lg-flex{
        display: flex;
    }
    
    .d-lg-inline{
        display: inline;
    }
  }

  .header-title{
    min-height: 100px;
    background-color: white;
  }

  .container{
    display: flex;
    border: 2px dashed black;
    min-height: 100px;
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .card-title{
    padding: 30px 0px;
  }

  .card{
    max-width: 400px;
  }

  .card .container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: white;
  }


  .recap{
    align-self: flex-start;
    padding: 30px 0px;
  }

  .recap div{
    padding: 5px 0px;
  }

  .social .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
  }

  .social i{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
  }

  .pres-title{
    padding-bottom: 30px;
  }

  .presentation .container{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    min-height: 500px;
  }

  .presentation img{
    width: 100%;
  }

  .credits{
    background-color: darkorchid;
  }

  .credits .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
  }

  .credits ul li{
    display: inline;
    list-style-type: none;
    padding: 0px 20px;
    margin-top: 20px;
  }

  .links{
    margin-top: 10px;
  }

  .links a{
    color: white;
  }

  .address{
    color: white;
  }
